body {
    font-family: Arial, sans-serif;
    background-color: black;
    margin: 0;
    padding: 0;
}
header {
    width: 100%;
    height: 13vh;
    display: flex;
    transition: 0.5s ease;
    background: #000;
}

#logo {
    width: 15vw;
}

.container-header {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.container-header:nth-child(2) {
    width: 50%;
}


.container-header:nth-child(1),
.container-header:nth-child(3) {
    width: 25%;
}

#perfilIcon {
    width: 3.5vw;
}

#setalIcon {
    width: 2.3vw;
    cursor: pointer;
}

#container {
    margin-top: 5%;
    border: 0.5px white solid;
    border-radius: 15px;
    width: 60%;
    margin: 50px auto;
    text-align: center;
}
#barrapesquisa {
    display: flex;
}

h1 {
    color: #ffffff;
}

input {
    padding: 8px;
    font-size: 16px;
    border-radius: 5px;
    width: 400px;
    border: solid;
}
input:focus {
outline: none;
border: 0.6px #d17a1d solid;
}
#nomebobia {
    display: flex;
    justify-content: center;
    align-items: center;
}
#nomebobia img {
    width: 3%;
    height: 3%;
}
select,
button {
    padding: 8px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

button {
    background-color: #d17a1d;
    color: #FFFFFF;
    border: none;
}

button:hover {
    background-color: #be6505;
}

#resposta {
    padding-left: 0;
    margin-top: 20px;
    padding: 10px;
    border-radius: 5px;
    background-color: #D0D3D4;
    border: 1px solid #63666A;
    text-align: left;
    display: flex;
}
#barrapesquisa {
display: flex;
justify-content: end;
margin-bottom: 2%;
margin-right: 2%;
margin-top: 2%;
}
#result {
    display: none;
    align-items: flex-end;
    margin-inline: 10px ;
}
#result img {
    width: 5%;
    height: 5%;
}
hr {
    width: 95%;
}
#containerFerramentas {
    position: absolute;
    background: rgb(32, 32, 32);
    width: 8vw;
    height: 11vh;
    top: 12%;
    right: 1%;
    margin-right: 4%;
    transition: 0.5s ease;
    overflow: hidden;
    padding: 2%;
    display: none;
    align-items: center;
    justify-content: center;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    max-height: 0vh;
    transform: translateY(-10%);
    transition: max-height 0.6s ease, opacity 0.6s ease, transform 0.6s ease;
}
#containerFerramentas.ativo {
    max-height: 15vh; 
    opacity: 1;
    transform: translateY(0%);
}
#btnSair {
    all: unset;
    cursor: pointer;
    font-family: "Raleway", sans-serif;
    color: #fff;
    background: #d17a1d;
    width: 5vw;
    height: 4vh;
    text-align: center;
    padding: 0.2vw 0;
    border-radius: 5px;
    font-size: 1vw;
    transition: 0.3 ease;
}

#btnSair:hover {
    background: #be6505;
    border: 1px solid #000;
}
