* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
    scroll-behavior: smooth;
    color: #fff;
}

body {
    background: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}


#containerMain {
    height: 58vh;
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2%;
}

#containerLeft,
#containerRight {
    width: 40.8%;
}

#containerLeft,
#containerRight,
#containerSelects {
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}

#containerSelects{
    height: 80%;
}

.containerKPI {
    display: flex;
    justify-content: space-between;
    padding: 1vw 0;
    height: 24vh;
    width: 100%;
}

.containerGrafico {
    height: 60%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.KPI {
    width: 49%;
    height: 100%;
    background: #0f1114;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    border-radius: 10px;
}

.titleKPI {
    text-align: center;
    width: 90%;
    font-size: 1vw;

}

.KPIvalue {
    font-size: 3vw;
    font-weight: 600;
    color: #d17711;
}

.containerCanvas {
    background: #0f1114;
    border-radius: 10px;
    display: flex;
    height: 100%;
    align-items: center;
    flex-direction: column;
}

.grafico {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 85%;
    width: 100%;
    padding: 0.5vw 0;
}

.titleGrafico {
    font-size: 1.4vw;
    padding-top: 0.5vw;
        white-space: nowrap;
    text-align: center;
}


.containerSubCanvas {
    height: 100%;
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.containerSubCanvas:nth-child(1) {
    width: 70%;
}


#containerSeta {
    width: 3vw;
    height: 3vw;
    position: absolute;
    top: 4%;
    left: 2.5%;
}

#SetaVoltar {
    width: 2vw;
}

#containerCanvasRight {
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

#containerDash {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#tituloDash {
    font-size: 2.5vw;
    color: #fff;
}

#containerSelectKPI,
#containerSelectSensor {
    background: #0f1114;
    /* position: absolute; */
    width: 12vw;
    height: 8.5vw;
    left: 87%;
    top: 15.6%;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}




.selects {
    all: unset;
    font-size: 1vw;
    padding-left: 2%;
    height: 1.55vw;
    display: flex;
    align-items: center;
    color: #000;
    background: #d17711;
    width: 90%;
    font-weight: bold;
    border-radius: 3px;
}

#SelectPiso,
#SelectPosicao,
#SelectSemana,
#SelectMes {
    background-image: url('../assets/icon/setaBaixo.png');
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 15px;
}

.optSelect,
.selects {
    color: #000;
    font-weight: 600;
}

.spanContainerSelect {
    text-align: center;
    font-size: 1vw;

}

.containerKPIDados {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 1vh;
}

.KPIdiaSemana {
    font-size: 1vw;
}